body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagejfif.jfif');
    background-size: cover;
    background-position: center;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagejfif.jfif');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.error-message {
    display: block;
    color: #ff0000;
    font-size: 14px;
}

.container {
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="button"],
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
}

button[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

.arabic-text {
    direction: rtl;
}

.english-text {
    direction: ltr;
}

.header {
  position: relative;
  padding-right: 20px; /* Adjust as needed */
}

.dropdown-container {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 100px; 
}

.dropdown-toggle {
  background-color: #f8f9fa;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-menu a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}


.dropdown-item:hover  {
  background-color: #2196F3;
}