body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imagejfif.jfif');
    background-size: cover;
    background-position: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagejfif.jfif');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.error-message {
    display: block;
    color: #ff0000;
    font-size: 14px;
  }  
  
.container {
    width: 40%;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative; 
}
/* Add this CSS to style the actorsResult div */
.actors-result {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    max-height: 200px; /* Adjust height as needed */
    overflow-y: auto; /* Add scrollbar if content exceeds max-height */
}

/* Add this CSS to style the appearance of the result text */
.actors-result p {
    font-weight: bold;
    margin-bottom: 5px;
}

.actors-result ul {
    list-style-type: disc; /* Use disc bullet points */
    margin-left: 20px; /* Adjust indentation as needed */
}

.actors-result li {
    margin-bottom: 5px;
}

.header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    text-align: center;
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5px;
    text-align: center;
}


h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="button"],
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

button[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

